<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
	
	
<!-- add by bibby-->      
    <servlet>
        <servlet-name>c3214157_assignment1</servlet-name>
        <servlet-class>c3214157_assignment1</servlet-class>
    </servlet>
	<filter>
		<filter-name>seatFilter</filter-name>
		<filter-class>seatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>seatFilter</filter-name>
		<url-pattern>/BookingSeatPage</url-pattern>
	</filter-mapping>
	<init-param>
       <param-name>development</param-name>
       <param-value>true</param-value>
	</init-param>	
</web-app>
